/*
padding = extra space within element
margin = extra space around element
border = edge of element
*/

html {

}

body {
  background-color: WhiteSmoke;
}

#div_generator {
  text-align: center;
}

#div_settings_and_info {
  text-align: center;
}

.generator_settings {
  height: 550px;
  width: 150px;
  white-space:nowrap;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow: hidden;
  display: inline-block;
}

.generator_settings > div {
  margin: 20px 0px;
}

#div_mode_checkboxes {
  margin: 10px 0px 0px 0px;
}

#div_page_info {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 16px;
  height: 550px;
  width:150px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  min-height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
}

#div_tab {
  margin: 15px;
  padding: 15px;
  text-align: center;
  max-width: 1080px;
  min-height: 100px;
  border: 2px solid black;
  border-radius: 5px;
}

#tab_info {
  font-family: "Courier New", Courier, monospace;
  white-space:nowrap;
  position: absolute;
  left: 15%;
  overflow: hidden;
}

#tab_sheet {
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  max-height: 300px;
  overflow: auto;
}

.tab_row {
  white-space:nowrap;
}

/*
SCROLLBAR DESIGN
*/

/*  webkit scrollbars not supported in Firefox and Edge / IE */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/*
SELECT DESIGN
*/

.select {
  height: 24px;
  overflow: hidden;
  width: 120px;
  background-color: WhiteSmoke;
  border: 1px solid #ccc;
  padding-left: 5px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.tuning_select {
  height: 20px;
  width: 50px;
}

/*
CHECKBOX DESIGN
*/

.checkbox {

}

/*
BUTTON DESIGN
*/

#button_generate {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 5px 5px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

/*
LINKS
*/

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
