/*
padding = extra space within element
margin = extra space around element
border = edge of element
*/

html {

}

body {
  background-color: WhiteSmoke;
}

#div_generator {
  text-align: center;
}

#div_settings_and_info {
  display: inline-block;
  text-align: center;
}

.settings_and_info {
  height: 560px;
  width: 170px;
  white-space:nowrap;
  margin: 10px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  overflow: hidden;
  display: inline-block;
}

.settings_and_info > div {
  margin: 20px 0px;
}

#div_mode_checkboxes {
  margin: 10px 0px 0px 0px;
}

#div_page_info {
  text-align: center;
  min-height: 100px;
}

#div_tab {
  margin: 15px auto;
  padding: 15px;
  text-align: center;
  max-width: 1080px;
  min-height: 100px;
  border: 2px solid black;
  border-radius: 5px;
}

#tab_info {
  font-family: "Courier New", Courier, monospace;
  white-space:nowrap;
  overflow: hidden;
}

#tab_sheet {
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  max-height: 100%;
  overflow: auto;
}

.tab_row {
  white-space:nowrap;
}

/*
SCROLLBAR DESIGN
*/

/*  webkit scrollbars not supported in Firefox and Edge / IE */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/*
SELECT DESIGN
*/

.select {
  height: 24px;
  overflow: hidden;
  width: 120px;
  background-color: WhiteSmoke;
  border: 1px solid #ccc;
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.tuning_select {
  height: 20px;
  width: 50px;
}

/*
CHECKBOX DESIGN
*/

.checkbox {
  cursor: pointer;
}

/*
BUTTON DESIGN
*/

.button {
  width: 120px;
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 5px 5px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

/*
RANGE DESIGN
*/

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  background: transparent;
  border-color: transparent;
  color: transparent;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -16px;
  background: WhiteSmoke;
  height: 32px;
  width: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  border: 0.1px solid #ccc;
  cursor: pointer;
}

/*
LINKS
*/

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
